
@import url(color.css);
@import url(typography.css);


header {
 
}

.logo-banner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--color-tertiary);
}

nav{
  display: flex;

}

.logo {
  
}

li{
  font-size: var(--text-sm);
  font-family: var(--font-h2h3);
}


