@import url(color.css);
@import url(typography.css);


.logo-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-tertiary);
  align-items: center;
  flex-direction: column;
}


.cart {
  height: 40px;
  align-self: flex-end;
  padding-right: 50px;
}

ul {
  display: flex;
  justify-content: center;
  background-color: var(--color-tertiary);
}

li {
  display: inline-block;
  font-size: var(--text-sm);
  font-family: var(--font-h2h3);
  color: var(--color-primary);
  text-align: center;
  padding: 14px 16px;
}

li:hover {
  text-decoration: underline;
  font-weight: 600;
}

.search {
  border-radius: 2rem;
}
