@import url(color.css);
@import url(typography.css);
@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Josefin+Sans&family=Playfair+Display:ital,wght@1,400;1,500&display=swap");

html {
  box-sizing: border-box;
  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: var(--text-base-size);
}

.logo-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-tertiary);
  align-items: center;
  flex-direction: column;
}

.logo-banner__cart {
  height: 40px;
  align-self: flex-end;
  padding-right: 50px;
}

.navBar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--color-tertiary);
}

.navBar li {
  display: inline-block;
  font-size: var(--text-sm);
  font-family: var(--main);
  color: var(--color-primary);
  text-align: center;
  padding: 14px 16px;
}



.icon {
  display: none;
  color: var(--color-primary);
  font-size: 2rem;
  align-self: flex-start;
  padding-left: 50px;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown__btn {
  font-size: inherit; 
  font-family: inherit;   
  color: var(--color-primary);
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navBar li a {
  color: inherit;
  text-decoration: inherit;
}

.dropdown__items {
  display: none;
  position: absolute;
  background-color: var(--color-tertiary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown__items a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navBar li:hover, .dropdown:hover .dropdown__btn {
  font-weight: 600;
}

.dropdown__items a:hover {
  background-color: var(--color-primary);
  color: white;
}

.dropdown:hover .dropdown__items {
  display: block;
}

@media screen and (max-width: 600px) {
  .navBar li, .dropdown .dropdown__btn {
    display: none;
  }
  .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navBar.responsive {position: relative;}
  .navBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .navBar.responsive li {
    float: none;
    display: block;
    text-align: left;

  }
  .navBar.responsive .dropdown {float: none;}
  .navBar.responsive .dropdown__items {position: relative;}
  .navBar.responsive .dropdown .dropdown__btn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.search {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.search__input {
  border-radius: 2rem;
  outline-color: var(--color-primary);
  border-width: thin;
  border-top-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
  font-family: var(--main);
  font-weight: lighter;
}

.search__icon {
  height: 3vh;
  position: absolute;
  vertical-align: middle;
}



.banner {
  font-family: var(--main);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__overlay {
  background-color: rgb(128, 128, 128, 0.2);
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 0%;
  height: 100%;
  transition: all 0.5s ease;
}

.banner:hover .banner__overlay {
  opacity: 1;
  width: 100%;
  transition: all 0.2s ease;
}

.banner__overlay > h1{
  font-size: 3rem;
  padding-bottom: 6vh;
  font-weight: 1000;
  color: white;
  transform: scale(0);
  transition: all 0.2s ease;
  width: 20%;
  text-align: center;
  opacity: 1;
}

.banner__overlay > p{
  color: white;
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  transform: scale(0);
  padding-bottom: 4vh;
  transition: all 0.2s ease;
  width: 20%;
  text-align: center;
  opacity: 1;
}
  
.banner:hover .banner__overlay > h1 {
  transform: scale(1);
  transition: all 0.2s ease;
}    
.banner:hover .banner__overlay > p {
  transform: scale(1);
  transition: all 0.2s ease;
}    




.popular {
  padding-top: 1vh;
  background-color: var(--color-tertiary);
}


.popular-items {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 150px;
  background-color: var(--color-tertiary);
}



.popular-items__card {
  background-color: var(--color-secondary);
  width: 200px;
  height: 300px;
  border-radius: 10%;
  position: relative;
}
  


.popular-items__image {
  max-width: 200px;
  position: absolute;
  margin-top: 30%;
  margin-left: 20%;
}

.popular-items__card > a {
  position: absolute;
  margin-top: 170%;
  width: 10vw;
  text-align: center;

}


footer{
  height:25vh;
  width:100%;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  gap: 2vh;
}
  
footer > img{
  height:30%;
} 

footer > p{
  color: var(--basic-medium);
  width: 40%;
  text-align: center;
  font-family: var(--main);
}


/* search results*/
.search-results {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-card {
  justify-self: center;
}

.product-card > img { 
  width: 100%;
  max-width: 150px;
}
    


/*

form {
  width: 50em;
  background-color: var(--color-tertiary);
  padding: 1vw;
  font-family: var(--main);
  border: 2px var(--color-primary);
}

form label {
  display: inline-block;
  width: 10em;
}

form input, textarea {
  width: 45em;
  margin: 0.5vw;
  padding: 0.5vw;
  border-radius: 0.2vw;
}

input[type="submit"] {
  width: 10vw;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

input:valid {
  background-color: lightseagreen;
}

input:invalid {
  background-color: tomato;
}*/

.currentLocation {
  text-decoration: underline;
  color: black;
  font-weight: 1000;
}

.btn {
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 0.9rem;
}


.btn-primary {
  opacity: 1;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border-radius: 0.5rem;
}

.btn-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  transform:translateY(-1px)
}



.btn-secondary {
  font-family: var(--special-headings);
  border: 5px solid var(--color-secondary);
  opacity: 1;
  background-color: white;
  color: var(--color-secondary);
  border-radius: 25px;
}

.btn-secondary:hover {
  background-color: var(--color-secondary);
  color: white;
  transform:translateY(-1px)
}

.special-title {
  color: var(--color-primary);
  font-family: var(--special-headings);
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}




