@import url(color.css);
@import url(typography.css);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.logo-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-tertiary);
  align-items: center;
  flex-direction: column;
}


.cart {
  height: 40px;
  align-self: flex-end;
  padding-right: 50px;
}

ul {
  display: flex;
  justify-content: center;
  background-color: var(--color-tertiary);
}

li {
  display: inline-block;
  font-size: var(--text-sm);
  font-family: var(--main);
  color: var(--color-primary);
  text-align: center;
  padding: 14px 16px;
}

li:hover {
  text-decoration: underline;
  font-weight: 600;
}

.search-container {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
}




.search-input {
  border-radius: 2rem;
  outline-color: var(--color-primary);
  border-width: thin;
  border-top-color: var(--color-primary);
  border-bottom-color: var(--color-primary);
  font-family: var(--main);
  font-weight: lighter;
}

.search-icon {
  height: 3vh;
  position: absolute;
  padding-left: 160px;
}

.home-banner > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.home-banner {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: white;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 0%;
  height: 100%;
  transition: all 0.9s ease;
}

.home-banner:hover .overlay {
  opacity: 0.5;
  width: 100%;
  transition: all 0.2s ease;
}
.overlay > h1{
  font-family: var(--main);
  font-size: var(‐‐text‐xl);
  transform: scale(0);
  transition: all 0.2s ease;
  width: 20%;
  text-align: center;
}


  
.overlay > p{
  font-family: var(--main);
  font-size: var(--text-lg);
  transform: scale(0);
  transition: all 0.2s ease;
  width: 20%;
  text-align: center;
}
  
.home-banner:hover .overlay > h1 {
  transform: scale(1);
  transition: all 0.2s ease;
}    
.home-banner:hover .overlay > p {
  transform: scale(1);
  transition: all 0.2s ease;
}    

.btn {
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 0.9rem;
}


.btn-primary {
  opacity: 1;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border-radius: 0.5rem;
}

.btn-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  transform:translateY(-1px)
}

