
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Righteous&display=swap');
  
:root {
    /* H1 */ 
    --special-headings: 'Righteous', cursive;
    /* H2h3 */
    --main: 'Noto Sans', sans-serif;
    /* Base value */ 
    --text-base-size: 1em; 
    /* Type scale */
    --text-scale-ratio: 1.2;
    --text-xs: calc(var(--text-base-size) / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

 
