
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Righteous&display=swap');
  
:root {
    /* H1 */ 
    --special-headings: 'Righteous', cursive;
    /* H2h3 */
    --main: 'Noto Sans', sans-serif;
    /* Base values */ 
    --text-base-size: 15rem;
    /* Type scale */
        ‐‐text‐scale‐ratio: 1.2;
        ‐‐text‐xs: calc(15rem / (var(‐‐text‐scale‐ratio) * var(‐‐text‐scale‐ratio)));
        ‐‐text‐sm: calc(15rem / var(‐‐text‐scale‐ratio));
        ‐‐text‐md: calc(15rem * var(‐‐text‐scale‐ratio));
        ‐‐text‐lg: calc(15rem * var(‐‐text‐scale‐ratio) * var(‐‐text‐scale‐ratio));
        ‐‐text‐xl: calc(15rem * var(‐‐text‐scale‐ratio) * var(‐‐text‐scale‐ratio) *
        var(‐‐text‐scale‐ratio));
        ‐‐text‐xxl: calc(15rem * var(‐‐text‐scale‐ratio) * var(‐‐text‐scale‐ratio) *
        var(‐‐text‐scale‐ratio) * var(‐‐text‐scale‐ratio));
        ‐‐text‐xxxl: calc(15rem * var(‐‐text‐scale‐ratio) * var(‐‐text‐scale‐ratio) *
        var(‐‐text‐scale‐ratio) * var(‐‐text‐scale‐ratio) *
        var(‐‐text‐scale‐ratio));
        }

 
